<!-- views/login.ejs -->

<form method="POST" action="/login" >

<h5><a href="/" class="font-medium text-blue-600 hover:text-blue-800">
    Back to Home Page</a></h5>

<h2 class="mt-6 text-2xl font-bold text-gray-800">[LOGIN]</h2> 
<label for="username" >Username</ label>
<br>
<input type="text" name="username" placeholder ="Insert your username" >
<br>
<label for="password" >Password</ label>
<br>
<input type="password" name="password" placeholder ="Insert your password" >
<br>
<button type="submit">Login</button>

<h5>Belum punya akun?<a href="/register" class="font-medium text-blue-600 hover:text-blue-800">
    Daftar dulu ya!</a></h5>

<h5 class="mt-6 text-2xl font-bold text-gray-800">Copyright @Tito Valiant Muhammad 2021</h5>
</form>
