<!-- views/register.ejs -->

    <form method="POST" action="/register">

<h5><a href="/" class="font-medium text-blue-600 hover:text-blue-800">
    Back to Home Page</a></h5>

    <h2 class="mt-6 text-2xl font-bold text-gray-800">Buat akun baru</h2>
    <label for="username">Register Username</label>
    <br>
    <input type="text" name="username" placeholder="Insert your username">
    <br>
    <label for="password">Register Password</label>
    <br>
    <input type="password" name="password" placeholder="Insert your password">
    <br>
    <button type="submit">Register</button>

    <h5 class="mt-6 text-2xl font-bold text-gray-800">Copyright @Tito Valiant Muhammad 2021</h5>
    </form>